:root {
    --primary-color: #4cff82;
    --secondary-color: #e174e1;
    --tertiary-color: #f0e8f0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--tertiary-color);
    
    font-family: Arial, Helvetica, sans-serif;
}

section {

    padding: 60px;

}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* header & hero */

.header {
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    padding: 20px 35px;

    background-color: var(--tertiary-color);

    position: -webkit-sticky;

    position: sticky;
    
    top: 0;

    background-image: url("../images/hero.jpg");

    background-size: cover;

    background-attachment: fixed;

    background-position: 80%;

    z-index: 9999;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .middle {
    color: var(--primary-color);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    padding: 10px 15px;

    font-weight: lighter;

    font-size: 1.55vw;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    height: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.bio {

    width: 35%;

    text-align: right;

    margin: 3.5%;

    color: #fff;

    font-size: 18px;

    line-height: 1.2;
    
}

.bio h2 {

    font-style: italic;

    font-size: 55px;

    color: var(--primary-color);

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.self-image {

    background-color: rgba(0,0,0, 0.8);

    padding: 20px;

    color: var(--secondary-color);

    border: solid 3px var(--secondary-color);

    width: 40%;

    margin: 3.5%;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    border-radius: 15px;

}

.self-image h3 {

    font-size: 24px;

    margin: 0px;
}

.self-image p {

    margin: 5px 0 15px 0;

}

.self-image img {
    width: 100%;
}

/*Reach Out and Footer Styling */
footer {

    background: var(--primary-color);

    width: 100%;

    padding: 40px 35px;

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

}

footer h2 {

    color: var(--secondary-color);

    font-size: 30px;

    margin: 0;

}

footer div {

    line-height: 1.5;

    text-align: right;

}

footer a {

    color: var(--secondary-color);

}

contact {
    background: var(--secondary-color);
}

contact h2 {
    color: var(--primary-color);
}

.reach-out {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);

    width: 100%;

    padding: 40px 35px;
}

.reach-out > * {
    flex: 1;
    margin: 15px;
}

.reach-out div {
    color: white;
}

.reach-out h3 {
    color: var(--secondary-color);
    font-size: 32px;
}

.reach-out p, .reach-out address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.reach-out a {
    color: var(--secondary-color);
}


/* Media Queries for DesktopScreens and Below */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .bio, .self-image {
        width: 100%;
      }
      
    .bio {
        text-align: center;
      }

    .section-title {
        width: 80%;
      }
      
    .trainer {
        flex: 0 70%;
      }
      
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
    section {
        padding: 30px 15px;
      }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
      }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
    .step-text {
        flex: 100%;  
      }
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
    .self-image button {
        width: 100%;
      }
    
    .section-title {
        width: 95%;
      }
    
    .intro p {
        width: 100%;
      }
    
    .trainer {
        flex: 0 100%;
      }
    
    .reach-out {
        text-align: center;
      }
    
    .reach-out > * {
        flex: 0 100%;
      }

  }  